.about {
  background-color: var(--black);
  display: flex;
  justify-content: center;
}

.about-text-zone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 2rem;
  width: 40%;
}

.about-heading {
  color: var(--text-color);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.about-text {
  color: var(--text-color);
  font-size: 18px;
}

.about-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 453px;
  max-width: 1000px;
}

.skills-canvas {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .about-text-zone {
    width: 50%;
  }
  .skills-container {
    width: 50%;
  }
}

@media only screen and (max-width: 920px) {
  .about-container {
    align-items: center;
  }
  .about-text-zone {
    text-align: center;
    width: 80%;
    padding: 0;
  }
  .skills-container {
    width: 80%;
  }
}