* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: -75px; */
  height: 100vh;
  /* background-color: red; */
}

.hero-sub {
  color: var(--text-color);
  font-size: 20px;
}

.intro-text-zone {
  z-index: 2;
  /* background-color: red; */
  pointer-events: none;
  width: fit-content;
  padding-left: 80px;
}

.intro-big-heading {
  color: var(--text-color);
  font-size: 5rem;
}

.contact-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  pointer-events: all;
}
