* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: -75px; */
  height: 100vh;
  /* background-color: red; */
}

.hero-area {
  display: flex;
  /* padding-right: 500px; */
  /* max-width: 90%; */
  min-width: 90%;
  flex-direction: column;
  
  /* margin-top: 200px; */
}

.hero-sub {
  color: #DBE8D4;
  font-size: 20px;
}

.intro-text-zone {
  z-index: 2;
  /* background-color: red; */
  width: fit-content;
  padding-left: 80px;
}

.intro-big-heading {
  color: #DBE8D4;
  font-size: 5rem;
}

.contact-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
}
