* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-color: rgb(19, 19, 17);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -75px; */
  height: 100vh;
}

.hero-area {
  display: flex;
  padding-right: 500px;
  max-width: 90%;
  background-color: green;
  /* margin-top: 200px; */
}

.hero-sub {
  font-size: 20px;
}

.intro-text-zone {
  background-color: red;
  width: fit-content;
  padding: 20px;
}

.big-heading {
  font-size: 75px;
}
