* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--black);
  z-index: 5;
  height: 78px;
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.left, .right {
  flex:1;
}

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  /* margin: 0 70px; */
}

.navbar li {
  color: white;
  padding: 0 28px;
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
}

.nav-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}