* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(19, 19, 17);
  height: 75px;
  display: flex;
  align-items: center;
}

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0 70px;
}

.navbar li {
  color: white;
  padding: 0 28px;
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
}