* {
  margin: 0;
  padding: 0;
}

.navbar {
  /* background-color: var(--black); */
  backdrop-filter: blur(5px);
  z-index: 5;
  height: 78px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 70px;
}

.left,
.right {
  flex: 1;
}

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.navbar li {
  padding: 0 28px;
}

.navbar button {
  padding: 10px 10px;
  font-size: 1.2rem;
  /* border-radius: 10px; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.link:hover {
  color: var(--link-active-color);
}

.link-active {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--link-active-color);
}

@media only screen and (max-width: 1278px) {
  .navbar {
    justify-content: center;
  }
}


@media only screen and (max-width: 552px) {
  .navbar {
    display: none;
  }
}