:root {
    --black: #111111;
    --yellow: #dbe8d4;
    --white: #fff;
    --dark-blue: #2E3445;
    --gray: #191919;
    --text-color: var(--white);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}