.work {
  background-color: var(--dark-blue);
  justify-content: center;
  padding-top: 5rem;
  /* margin-top: 5rem; */
  display: flex;
}

.work-container {
  padding: 0 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.work-heading {
  text-align: center;
  display: flex;
  font-size: 4rem;
  color: var(--text-color);
}

.work-items-container {
  margin-top: 1rem;
  display: flex;
  max-width: 1600px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.work-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 380px;
  width: 33.33%;
  height: 430px;
}

.work-item-image {
  height: 75%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.work-item-textzone {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: var(--gray);
  height: 25%;
}

.work-item-title {
  color: var(--text-color);
}

.work-item-category {
    color: var(--text-color);
}
