.work {
  background-color: rgb(19, 19, 17);
  /* background-color: darkslategrey; */
  justify-content: center;
  /* padding-top: 75px; */
  display: flex;
}

.work-container {
  width: 90%;
  padding: 40px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
}

.work-heading {
  /* background-color: blue; */
  padding-left: 20px;
  font-size: 50px;
  color: white;
}

.work-items-container {
  /* background-color: red; */
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* column-gap: 20px;
    row-gap: 30px; */
  flex-wrap: wrap;
}

.work-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 430px;
}

.work-item-image {
  height: 75%;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

.work-item-textzone {
  padding: 10px 20px;
  border-radius: 0 0 5px 5px;
  background-color: #191919;
  height: 25%;
}

.work-item-title {
  color: white;
}

.work-item-category {
    color: gray;
}
